#namespace_container
  .lead
    = @namespace.description + "."
    You could see some namespace average uptime, response and delay time data below.
  %table.table.table-unbordered
    %tr
      %th
      %th
        %h4 Average Uptime
      %th
        %h4 Average Delay Time
      %th
        %h4 Average Response Time
    - Project::PERIODS.each do |period|
      %tr
        %td
          %h4= "Past " + period
        %td
          %h2 #{@namespace.uptime(period).to_s[0..5]}%
        %td
          %h2 #{@namespace.average_delay_time(period).to_s[0..5]}ms
        %td
          %h2 #{@namespace.average_response_time(period).to_s[0..5]}ms
  %br

  = render :partial => 'shared/middle_bar', :locals => {:active => @project, :namespace => @namespace}

  #project_container
    = render :partial => 'projects/show'

